@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu+Sans&display=swap');

/* commen start  */
/* common end  */
 body{
    margin: 0 ;
    padding: 0 ;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;

 }
/* header start  */

header{
    padding: 30px 0;
    /* border: 1px solid; */
}
.container{
    margin: 0 auto;
    width: 90%;
    /* border: 1px solid; */
    overflow: hidden;
}
.logo{
    width: 10%;
    margin: 10px 0;
    float: left;
    /* border: 1px solid; */
}
.logo a img{
    width: 100%;
}
.menu{
    /* border: 1px solid; */
    width: 60%;
    float: right;
}
.menu ul{
    float: right;

   
}
.menu ul li{
    
    float: left;
    list-style: none;
}
.menu ul li a{
    display: inline-block;
    margin: 0 55px;
    text-transform: uppercase;
    text-decoration: none;
    color: #626262;
    border-bottom: 1px solid transparent;
    transition: .333s;
}
.menu ul li:last-child  a{
    margin-right: 0;

}

.menu ul li a:hover{
    border-bottom: 1px solid #000000;
}

/* header end  */

/* banner start  */
.banner{}
.banner_content{}
.banner_content img{
    width: 100%;
}

/* banner end */


/* getway start  */

.getway{
    padding: 100px 0;
}
.container2{
    margin: 0 auto;
    width:80% ;
}
.getway_content{}

.light{
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
.title{
    margin: 20px 0 30px;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;

}
.text{
    margin: 0;
    line-height: 24px;
}

.get_link{
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    color: #626262;
}
/* getway end  */
/* blog start */
.blog{
    padding: 0 0 100px;
}
.blog_content{
    overflow: hidden;
    /* border: 1px solid; */
    
}
.blog_item{
    float: left;
    width: 47%;
    padding-bottom: 100px;
}
.blog_item:nth-child(even){
    margin-left: 6%;
}
.blog_item p {
    /* margin-bottom: 100px; */
}
.blog_img{
    margin-bottom: 20px;
}
.blog_img img{
    width: 100%;;
}


/* blog end  */